.btn {
    background-color: #2d3643;
    text-decoration: none;
    color: azure;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 22px;
    margin-left: 5px;

}

.flat {
    color: rgb(32, 33, 35);
    border: none;
    background-color: transparent;
    font-weight: bold;
    width: 100px;
}

.flat:hover{
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
    width: 100px;

}
.btn:hover {
    cursor: pointer;
}

.margin-top {
    margin-top: 20px;
}