* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Cascadia Code', sans-serif;

}

.menu_item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 20px;
    transition: background-color 0.3s ease;
    position: relative;
}

.menu_text {
    margin-left: 20px;
    color: white;
    font-size: 13px;
}

.menu_text_collapsed{
    display: none;
}
.menu_item img {
    width: 15px;
    height: 15px;
    margin-left: 20px;
}

.menu_item:hover {

    background-color: rgb(55, 55, 61);
    cursor: pointer;
}

.menu {
    padding-top: 100px;
}


.menu_item.selected {
    background-color: rgb(50, 50, 57);
    cursor: pointer;
}


@media (max-width:800px) {
    .menu_text {
        display: none;
    }
}