.navbar{
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /*border-bottom: 1px solid rgb(32,32,35);*/
}
.navbar img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}