.navbar {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
    color: rgb(73, 88, 112);
    /*border-bottom: 1px solid rgb(32,32,35);*/
}
.menu-options ul li.full-width {
    width: 120%;
    display: block;
    box-sizing: border-box;
    margin-left: -10%;
}

.navbar img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.gear-container {
    position: relative;
}

.menu-options {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;

}
.menu-options div {
    display: block;
}
.menu-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-options ul li {
    padding-bottom: 5px;
    width: 100%;
    font-size: 13px;
    
    padding-left: 5px;

}

.menu-options ul li:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}